/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Fixed-positioned background
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////



.background

  // ----- Layout -----
  position: fixed

  top: 0
  bottom: 0
  left: 0
  right: 0

  @for $i from 1 through 50
    &:nth-child(#{$i})
      z-index: -200 - $i


  // ----- Background -----
  background-position: center center
  background-repeat: no-repeat
  background-color: transparent
  background-size: cover
  // Note: background-image is applied in HTML as an inline style