/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Page section
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////



.section

  +clearfix

  //outline: 1px solid red

  // ----- Layout -----

  $section-half-gutter: rem(200px)

  &:not(:first-of-type)
    padding-top: $section-half-gutter

  &:not(:last-of-type)
    padding-bottom: $section-half-gutter

  // ----- RWD -----
  +to(get-slice-id($slice-fixed-elements) - 1)
    $section-small-screen-padding: 3%
    padding-left: $section-small-screen-padding
    padding-right: $section-small-screen-padding


.section-inner

  // Layout
  .section:not(#concert) &
    min-height: 600px

  +from($slice-fixed-elements)
    +grid-span(1,2)


  //outline: 1px dashed black
  position: relative
  overflow: hidden


// --------------------------------------------------------------------------------------------------------------
// Variations
// --------------------------------------------------------------------------------------------------------------

@import "section/concert"

//@debug $singularity