/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Big logo on the main page
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$valeriyaFriends-logo-url: 'VALERIA_logo.png'



.valeriyaFriends

  // Inner layout
  width: 100%
  max-width: image-width($valeriyaFriends-logo-url)
  text-align: center

  // External layout
  // RWD
  +from($slice-fixed-elements)
    position: absolute
    left: 50%
    bottom: 10%

    .valeriyaFriends-inner
      margin-left: -50%
      margin-right: 50%

  // Text
  font-size: 1.5rem
  letter-spacing: 0.5em

  // Content layout
  .valeriyaFriends-content
    margin-top: 1rem



.valeriyaFriends-inner

  // Background
  background: image-url($valeriyaFriends-logo-url) center top no-repeat transparent
  background-size: 100%

  // Layout
  padding-top: image-height($valeriyaFriends-logo-url) / image-width($valeriyaFriends-logo-url) * 100%



