-#:ruby
-#  require 'json'
-#  #puts JSON.pretty_generate(config.to_h)
-#  images_dir =  File.expand_path(config.images_dir, source_dir)
-#  images_dir =  File.expand_path(data.config.backgrounds_folder, images_dir)
-#
-#
-#
-#
-#- Dir[ File.join images_dir, '*.*' ].each do |file|
-#  - puts file

.backgrounds
  - sections.each_with_index do |section, section_index|

    :ruby
      attrs = {}.tap do |attrs|
        attrs[:style] = "background-image: url('#{relative_backgrounds}/#{section.slug}.jpg');"
        attrs['data-anchor-target'] = "##{section.slug}"

        #if section_index != 0
        # attrs["data-#{data.config.background_transition_gap_half}-center-top"] = "opacity: 0;"
        # attrs["data--#{data.config.background_transition_gap_half}-center-top"] = "opacity: 1;"
        #end

        if section_index != sections.length - 1
         attrs["data-#{data.config.background_transition_gap_half}-center-bottom"] = "opacity: 1;"
         attrs["data--#{data.config.background_transition_gap_half}-center-bottom"] = "opacity: 0;"
        end
      end




    .background{ attrs }