:ruby
  sects = (defined? menu) ? menu : sections

%nav.menu
  .menu-inner

    %a.menu-button._prev{href: "#!"} Назад

    %ul.menu-list
      - sects.each do |section|

        %li.menu-item{ attributes_for_menu_item(section, sections) }
          %a.menu-item-link{href: "##{section.slug}"}
            %span.menu-item-link-name= section.title
            .menu-item-background{ attributes_for_menu_background(section, sections) }

    %a.menu-button._next{href: "#!"} Вперед