%nav.socialNetworks
  .socialNetworks-inner



    %ul.socialNetworks-list

      - data.social_networks.each do |item|

        %li.socialNetworks-item{ class: "_#{item.id}" }
          %a.socialNetworks-link{ href: item.url, title: item.name }
            = image_tag "social_networks/#{item.image}", class: "socialNetworks-image"