/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Section "Test"
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////



+to(get-slice-id($slice-fixed-elements) - 1)

  .section-concert-inner2

    // External layout
    position: absolute
    left: 0
    width: 100%
    bottom: 5%



  .valeriyaFriends

    // External layout
    margin-bottom: 1rem


  .vLogo

    // Layout
    display: block
    margin-left: auto
    margin-right: auto
    width: 33%

    // External layout
    margin-bottom: 2rem

+from($slice-fixed-elements)
  .vLogo
    display: none

@media (max-height: 470px)
  .vLogo
    display: none
