/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Social networks -- styles for small screens layout
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import compass/css3/transform

+to(get-slice-id($slice-fixed-elements) - 1)


  .socialNetworks-list

    // Layout
    +clearfix(false)

    // External layout
    display: table
    margin-left: auto
    margin-right: auto



  .socialNetworks-item

    // Layout
    +scale(0.7)

    // External layout
    float: left

    &:not(:last-child)
      margin-right: 0.5rem