/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Social networks block -- fixed version
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////




+from($slice-fixed-elements)


  $social-networks-fixed-image-url: 'V_logo.png'
  $social-networks-fixed-image-size: rem(80px)

  .socialNetworks

    // ----- Layout -----
    display: table
    position: fixed
    top: 0
    width: $social-networks-fixed-image-size
    height: 100%
    text-align: center

    // ----- Looks -----
    list-style-type: none

    // ----- Content layout -----
    .socialNetworks-item
      &:not(:last-child)
        margin-bottom: rem(18px)




  .socialNetworks-inner

    // Layout
    display: table-cell
    vertical-align: middle

    background: image-url($social-networks-fixed-image-url) center 3rem no-repeat transparent
    background-size: $social-networks-fixed-image-size


@each $slice, $padding in $fixed-stuff-padding

  +from($slice)

    .socialNetworks
      left: $padding

    .socialNetworks-inner
      background-position-y: $padding