/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Layout variables
//
// Basically, everything related to sizes.
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////



$base-font-size: 16px;



// --------------------------------------------------------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------------------------------------------------------

$slicer-breakpoints:        0        400px       600px      800px        1000px      1200px      1400px;

//                          └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:                1           2           3           4           5           6           7
$slicer-breakpoint-names:       'xs'        's'         'm'         'l'         'xl'       'xxl'        '3xl';



// --------------------------------------------------------------------------------------------------------------
// Grid definitions
// --------------------------------------------------------------------------------------------------------------

@include add-grid(12);
@include add-gutter(0.1);
@include add-grid(1 3 1 at lbp(m));


// --------------------------------------------------------------------------------------------------------------
// Elements
// --------------------------------------------------------------------------------------------------------------

$slice-fixed-elements: 'l';

$fixed-stuff-padding: (
  'l': 1rem,
  'xl': 2rem,
  'xxl': 3rem,
  '3xl': 4rem
);