/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Menu -- fixed version
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import toolkit/triangle
@import compass/utilities/text/replacement

+from($slice-fixed-elements)

  $menu-fixed-item-height: rem(23px)
  $menu-item-padding: rem(6px)
  $menu-fixed-button-gutter: rem(23px)

  .menu
    // ----- Layout -----
    display: table
    position: fixed
    top: 0
    height: 100%

    // ----- Looks -----
    list-style-type: none



    // Content layout
    .menu-item
      &:not(:last-child)
        margin-bottom: rem(9px)

    .menu-button
      &._prev
        margin-bottom: $menu-fixed-button-gutter
      &._next
        margin-top: $menu-fixed-button-gutter


  .menu-inner

    // Layout
    display: table-cell
    vertical-align: middle
    text-align: right



  .menu-list

    // ----- Layout -----
    clear: both

    // ----- Text -----
    &, a, a:link, a:visited
      font-weight: bold
      font-size: 1.5rem
      color: black
      text-decoration: none
      text-transform: uppercase
      +letter-spacing-titles


  .menu-item

    // Layout
    height: $menu-fixed-item-height
    line-height: $menu-fixed-item-height



  .menu-item-link

    // Layout
    display: inline-block
    position: relative
    min-width: rem(160px)
    padding: 0 $menu-item-padding

    // Behavior




  .menu-item-link-name

    // Layout
    display: inline-block


    // Behavior
    .menu-item-link:hover &
      border-bottom: 2px dashed black


  .menu-item-background

    // Layout
    //display: none
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: $menu-fixed-item-height
    z-index: -1

    // When to show up
    //.menu-item.skrollable-between &, .menu-item.skrollable-before:first-child &, .menu-item.skrollable-after:last-child &
    //  display: block

    // Background
    background-color: white

    &:before, &:after
      content: ''
      position: absolute

    $menu-fixed-triangle-width: rem(8px)

    &:before
      +triangle(white, $menu-fixed-item-height, $menu-fixed-triangle-width, 270)
      right: 100%

    &:after
      +triangle(white, $menu-fixed-item-height, $menu-fixed-triangle-width, 90)
      left: 100%




  .menu-button

    // Layout
    display: block
    float: right
    margin-right: $menu-item-padding

    $menu-fixed-button-image-up: 'arrow-up.png'
    $menu-fixed-button-image-down: 'arrow-dn.png'
    $menu-fixed-button-width: rem(40px)
    $menu-fixed-button-height: image-height($menu-fixed-button-image-up) / image-width($menu-fixed-button-image-up) * $menu-fixed-button-width

    width: $menu-fixed-button-width
    height: $menu-fixed-button-height

    +hide-text

    // Background
    background-size: contain
    background-repeat: no-repeat
    background-position: center center

    // Variations
    &._prev
      background-image: image-url($menu-fixed-button-image-up)
    &._next
      background-image: image-url($menu-fixed-button-image-down)

    // States
    &.-disabled
      opacity: 0.7







.menu
  @each $slice, $padding in $fixed-stuff-padding
    +from($slice)
      right: $padding
