!!!
/[if lt IE 7] <html class="no-js lte-ie9 lte-ie8 lte-ie7 lte-ie6">
/[if IE 7]    <html class="no-js lte-ie9 lte-ie8 lte-ie7">
/[if IE 8]    <html class="no-js lte-ie9 lte-ie8">
/[if IE 9]    <html class="no-js lte-ie9">
<!--[if gt IE 9]><!-->
%html{:class => 'no-js', :lang => 'ru'}<>
  <!--<![endif]-->
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title= data.config.title

    = stylesheet_link_tag "style"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic"

    /[if lte IE 8]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"
      = javascript_include_tag "//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"
      = javascript_include_tag "//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"
      = javascript_include_tag "//cdn.jsdelivr.net/respond/1.3.0/respond.min.js"



    -#- if environment == :development
    -#  = javascript_include_tag "dev"


  %body{class: page_classes}

    = yield
    = javascript_include_tag  "all"