;;;
"title": "Концерт"
;;;

#section-concert-inner

  .section-concert-inner2
    = image_tag 'V_logo.png', class: 'vLogo'
    = partial :valeriya_friends
    = partial :social_networks

:coffee
  windowHeight = ->

    # Non-IE
    if typeof( window.innerWidth ) is 'number'
      return window.innerHeight

    # IE 6+ in 'standards compliant mode
    else if  document.documentElement?.clientHeight
      return document.documentElement.clientHeight

    # IE 4 compatible
    else if document.body?.clientHeight
      return document.body.clientHeight

  doResize = ->
    document.getElementById('section-concert-inner')
      .style
      .height = "\#{windowHeight()}px"

  doResize()

  addEvent = (elem, type, eventHandle) ->
    return  if not elem? or typeof (elem) is "undefined"
    if elem.addEventListener
      elem.addEventListener type, eventHandle, false
    else if elem.attachEvent
      elem.attachEvent "on" + type, eventHandle
    else
      elem["on" + type] = eventHandle

  addEvent window, "resize", ->
    doResize()